.root {
    -fx-background-color: #312e2d /* Light gray background */
}

.list-view { /* Example: Style the list view */
    -fx-text-fill: white;
}

.list-cell { /* Style the list cells */
    -fx-background-color: #312e2d;
}

.hbox {
    -fx-padding: 15px;
    -fx-margin: auto;
    -fx-background-color: #312e2d;
}